<!-- Include precompiled libraries -->
<script type="text/javascript" src="https://lively-kernel.org/lively4/lively4-projectional-editor/lib/blockly_compressed.js"></script>
<script type="text/javascript" src="https://lively-kernel.org/lively4/lively4-projectional-editor/lib/babel.js"></script>

<!-- Template definition-->
<template id="lively-projectional-editor" data-class="LivelyProjectionalEditor" data-title="Projectional Editor">
  
  <style>
    .container {
      width: 100%;
      height: 100%;
      display: flex;
    }
    
    .column {
      flex: 1;
    }
  </style>
  
  
  <div class="container">
    <juicy-ace-editor class="column" id="textView"></juicy-ace-editor>
    <juicy-ace-editor class="column" id="blockView"></juicy-ace-editor>
  </div>
  
</template>

<script class="registrationScript">
  // Fake the Lively URL to load the template from our own folder
  let oldLively4Url = lively4url;
  lively4url = location.origin + '/lively4/lively4-projectional-editor';
  lively.registerTemplate()

  // Reset the Lively URL to the original
  lively4url = oldLively4Url;
</script>